html {
  height: 100%;
}

body {
  height: 100%;
}

body, h1, h2, h3, h4, dl, dd, p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  border: 0;
  vertical-align: top;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

button, input {
  -webkit-appearance: none;
}

input {
  outline: none;
  text-indent: 10px;
}

